# Virtual environment folders
venv/
.env/
ENV/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/
dist/
build/

# Logs and temporary files
*.log
*.tmp

# IDE and editor directories
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

